<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <wepay_inventory>
            <cron_two>
                <frequency>M</frequency>
            </cron_two>
        </wepay_inventory>
    </default>
</config>