<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="eav_entity_attribute_save_after">
        <observer name="prasanna_eav_attribute_save_after" instance="Prasanna\Invitecode\Observer\AdminAttributeSaveAfter" />
    </event>
</config>
