<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Prasanna\Customrest\Api\CustomInterface" type="Prasanna\Customrest\Model\Custom"/>

    <preference for="Prasanna\Customrest\Api\ProductRepositoryInterface" type="Prasanna\Customrest\Model\Api\ProductRepository"/>
    <preference for="Prasanna\Customrest\Api\RequestItemInterface" type="Prasanna\Customrest\Model\Api\RequestItem"/>
    <preference for="Prasanna\Customrest\Api\ResponseItemInterface" type="Prasanna\Customrest\Model\Api\ResponseItem"/>
</config>
