<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="wepay_orderscriptautomation" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Order External Script</label>
            <tab>wepayextensions</tab>
            <resource>WePay_OrderScriptAutomation::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="wg_inventory_username" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Wg Username</label>
                </field>
                <field id="wg_inventory_password" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Wg Password</label>
                </field>
                <field id="wg_inventory_mage_bearer" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Magento Bearer</label>
                </field>
                <field id="wg_inventory_url_product" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Wg Url Product</label>
                </field>
                <field id="wg_inventory_url_stock" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Wg Url Stock</label>
                </field>
                <field id="wg_inventory_url_base" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Magento Url Base</label>
                </field>
                <field id="wg_inventory_url_order_api" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Order Api Url</label>
                </field>
                <field id="wg_inventory_url_order_api_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Order Api Key</label>
                </field>
                <field id="wg_inventory_force_update" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Force Update</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="wg_inventory_margin" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Magento Margin</label>
                </field>
                <field id="wg_inventory_min_value" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Magento Min Value</label>
                    <validate>validate-number</validate>
                </field>
                <field id="wg_inventory_max_value" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Magento Max Value</label>
                    <validate>validate-number</validate>
                </field>
                <field id="wg_inventory_product_country" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Wg Product Country</label>
                </field>
            </group>
            <group id="path_files" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Path Files</label>
                <field id="files" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Files</label>
                    <comment>example : /var/www/html/Script/file.php</comment>
                </field>
            </group>
        </section>
    </system>
</config>
