<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="age_restriction" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Age restriction</label>
            <tab>general</tab>
            <resource>WePay_Registrationcode::system_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Age restriction</label>
                <field id="minimum_age" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum age</label>
                    <comment>e.g. 18</comment>
                </field>
            </group>
        </section>
    </system>
</config>
